

table { border: 1px solid #7DC4AD(15, 100, 93);
width: 500%;
background-color:#7DC4AD;
}
td,th{ border: 1px solid;
padding: 3px;
}
th:{background-color:black;
color: white;
font-size:24pt;
font-family: ALGERIAN;

}



